@import '~font-awesome/css/font-awesome.css'; // already in index.html
// @import 'assets/css/carousel.css'; // If needed, ensure the path and asset exist
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
